---
import Header from "../components/Header.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" color-mode="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
    --spacing: 4px;
  }
  :root[color-mode="light"] {
    --surface1: #e6e6e6;
    --surface2: #f2f2f2;
    --surface3: #ffffff;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #fff7d6;
  }
  :root[color-mode="dark"] {
    --surface1: #262626;
    --surface2: #333333;
    --surface3: #404040;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary: #eee8a9;
  }

  /* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
  :root[color-mode="light"] .light--hidden {
    display: none;
  }

  /* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
  :root[color-mode="dark"] .dark--hidden {
    display: none;
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--surface1);
    color: var(--element1);
  }
  body {
    margin: 0;
    padding: 0;
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
